:root {
    font-size: 16px;
}

body, html {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    scroll-behavior: smooth;
}

/*SCROLLBAR SECTION START*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #E7EEE8;
}

::-webkit-scrollbar-thumb {
    background: #94B397;
    border-radius: 5px;
}

/*SCROLLBAR SECTION END*/


/* NAVBAR SECTION START */

.navbar {
    background-color: #1A4D2E;
    display: grid;
    grid-template-columns: auto;
    grid-template-columns: 1fr;
    height: 3.125rem;
    grid-auto-flow: dense;
    justify-items: stretch;
    align-items: center;
    column-gap: 2.5rem;
}

.navbar a {
    text-decoration: none;
    color: #FCFCFC;
    font-size: 1.25rem;
    font-family: "Source Serif 4", serif;
    font-weight: medium;   
}

.navbar div:first-child{
    grid-column: -3;
    width: 3.75rem;
    margin-left: 9.5rem;
}

.navbar div:nth-child(2){
    grid-column: -2;
    margin-left: 3.125rem;
}

.navbar div:last-child {
    grid-column: 2;
    border-width: 0.125rem;
    border-color: #FCFCFC;
    border-style: solid;
    border-radius: 5.625rem;
    padding-right: 0.3125rem;
    padding-left: 0.3125rem;
    margin-right: 14.7rem;
}

/* NAVBAR SECTION END */

/* INTRODUCTION SECTION START */ 

.introduction-section {
    background-color: #FAF7F2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    justify-items: stretch;
    align-items: center;
    font-family: "Inter";
}

.introduction-section div:nth-child(1) {
    grid-column: 1;
    margin-left: 9.5rem;
}

.introduction-section div:nth-child(2) {
    grid-column: 2;
    margin: 2rem 1rem 2rem 0rem;
}

.introduction-section h2:nth-of-type(1) {
    font-size: 2.8125rem;
    margin: 0;
    padding: 0;
}

.introduction-section h2:nth-of-type(2) {
    font-size: 2.1875rem;
    margin: 0;
    padding: 0;
    color: #1A4D2E;
}

.introduction-section p {
    font-size: 1.125rem;
    font-family: "Inter";
    font-weight: 600;
    color: #5C5555;    
    margin: 0;
}

.introduction-section p:nth-of-type(1) {
    margin-top: 0.625rem;
}


.introduction-section button {
    border: 0.0625rem solid #4F6F52;
    background-color: #4F6F52;
    color: #FCFCFC;
    font-family: "Source Serif 4", serif;
    font-weight: 500;
    border-radius: 5.625rem;
    height: 2.5rem;
    width: 12.125rem;
    font-size: 1.25rem;
    margin-left: 0rem;
    margin-top: 1.25rem;
    cursor: pointer;
}

.introduction-section img {
    max-width: 70%;
    height: 70%;
    display: block;
}

/* INTRODUCTION SECTION END */ 

/* SHORT DESRIBSTION START */

.short-description-section {
    background-color: #F5EFE6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    align-items: stretch;
    padding-top: 1rem;
    padding-left: 4rem;
}

.short-description-section img {
    max-width: 12%;
    margin: auto;
    display: block;
    padding-right: 5rem;
}

.short-description-section h3 {
    font-size: 1.5rem;
    font-family: "Inter";
    font-weight: 600;
    color: #5C5555;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
    text-align: center;
    padding-right: 5rem;
}

.short-description-section p {
    font-family: "Inter";
    font-weight: 500;
    font-size: 0.9rem;
    color: black;
    padding-right: 4rem; 
    text-align: justify;  
}

/* SHORT DESRIBSTION END */

/* PORTFOLIO SECTION START */

.porfolio-section {
    background-color: #FAF7F2;
    display: grid;
    grid-template-columns: auto;
    padding-top: 1.5rem;
    position: relative;
}

.porfolio-section h2 {
    font-size: 2.1875rem;
    padding-right: 9.5rem;
    margin-bottom: 0;
    color: #1A4D2E;
    justify-content: stretch;
    text-align: right;
}

.porfolio-section img {
    width: 100%;
    height: 18rem;
    max-height: 100%;
    max-width: 80%;
    display: block;
    margin:  0.5rem auto;
}


.porfolio-section h3 {
    color: white;
    font-size: 2.125rem;
    font-family: "Source Serif 4", serif;
    font-weight: 600;
}


.first-text {
    position: absolute;
    top: 29%; 
    left: 65%; 
    transform: translate(-50%, -50%);
}

.second-text {
    position: absolute;
    top: 75%; 
    left: 38%; 
    transform: translate(-50%, -50%);
}

/* PORTFOLIO SECTION END */

/* TOOL SECTION START */

.tools-section {
    background-color: #FAF7F2;
    display: grid;
    grid-template-rows: repeat(4, auto);
    justify-items: stretch;
    align-items: stretch;
}

.tools-section hr {
    width: 50%; 
    height: 0.07rem;
    background-color: #000000;
    margin-top: 5rem;
}

.tools-section h2 {
    font-size: 2.1875rem;
    color: #1A4D2E;
    justify-content: stretch;
    text-align: center;
}


.tools-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    text-align: center;
}

.tools-container div {
    margin: 1rem 1rem;
    text-align: center; 
}

.tools-container img {
    height: 60%;
    width: 60%;
}

.tools-section p {
    color: #5C5555;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Inter";
    padding: auto;
}

/* TOOL SECTION END */



.footer {
    background-color: #F5EFE6;
}

.footer a {
    max-width: 3.5%;
    display: inline-block;
    margin: auto;
    padding-top: 0.75rem;
}

.footer p {
    grid-row: 2;
    grid-column: 1/5;
    margin: 0;
    padding-right: 1rem;
    padding-top: 0.5rem;
    text-align: center;
    font-weight: 400;
    font-family: "Source Serif 4", serif;
}

/* CONTACT SECTION START */

.contact-section {
    background-image: url(./contact_image.png);
    background-color: #F5EFE6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    position: relative;
    height: auto;
    padding: 6rem;
    padding-left: 9.5rem;
}

.contact-section h1 {
    margin: 0;
    font-family: "Source Serif 4", serif;
    font-weight: 500;
    font-size: 2.5rem;
    color: #FCFCFC;
    letter-spacing: 0.3rem;

}

.contact-section p {
    font-family: "Source Serif 4", serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #FCFCFC;
}

.button_submit {
    border: 0.0625rem solid #4F6F52;
    background-color: #4F6F52;
    color: #FCFCFC;
    font-family: "Source Serif 4", serif;
    font-weight: 600;
    border-radius: 5.625rem;
    height: 2.5rem;
    width: 10.125rem;
    font-size: 1.25rem;
    margin-left: 0rem;
    margin-top: 1.25rem;
    align-content: center;
}


.input_field {
    width: 40rem;
    height: 2rem;
    font-size: 1.2rem;
    font-family: "Inter";
    border: 1px solid #ccc;
    background-color: #FCFCFC;
}


.input_field_message {
    width: 39.5rem;
    height: 12rem;
    font-size: 1rem;
    font-family: "Inter";
    border: 1px solid #ccc;
    background-color: #FCFCFC;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    resize: none;
}
/* CONTACT SECTION END */ 

/* ABOUT ME START */

.about_me_container {
    background-color: #FAF7F2;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: stretch;
    align-items: stretch; 
}

.about_me_image_container {
    overflow: hidden;
}

.about_me_image {
    max-width: 100%;
    width: 50rem;
    height: 45rem;
    object-fit: cover;
    object-position: right; 
}

.about_me_description {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
}

.about_me_description h2 {
    font-size: 2.3rem;
    font-family: "Inter";
    margin: auto;
    padding-top: 1.0rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
}

.about_me_description h3 {
    text-align: left;
    font-size: 1.1rem;
    font-family: "Inter";
    color: #5C5555;
    margin: auto;
    padding-top: 0.1rem;
    padding-bottom: 1rem;
    padding-left: 0.1rem;
    letter-spacing: 0.12rem;
}

.about_me_description p {
    font-family: "Inter";
    font-size: 0.9rem;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 2rem;
}

.about_me_description p:nth-of-type(1) {
    text-align: left;
    font-weight: 600;
}



.about_me_description p:nth-of-type(3) {
    text-align: left;
    padding-right: 2rem;
    padding-top: 2rem;
    font-weight: 600;
}

.about_me_description p:nth-of-type(4) {
    padding-bottom: 0;
}

.hasztag_container {
    text-align: center;
    margin-top: auto;

}
.about_me_hasztag {
    display: inline-flex;
    color: #705F5F;
    margin: 0.5rem 1rem;
    font-weight: 600;
}

.about_me_description h4 {
    font-family: "Inter";
    font-size: 1.1rem;
    font-weight: 650;
    padding-bottom: 0;
    margin-bottom: 0;
}

.about_me_description h4:nth-last-of-type(2) {
    text-align: left;
    padding-right: 2rem;
}

.about_me_description p:nth-last-of-type(2) {
    text-align: left;
    padding-top: 0;
    margin-top: 0rem;
}

.about_me_description p:nth-last-of-type(1) {
    padding-top: 0;
    margin-top: 0rem;
}

.image_container_about_me {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding-top: 1rem;
    height: 5%;
    margin: auto;
    
}

.nav-buttons-about-me {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 0.1rem;
    gap: 4rem;
}

.button_about_me {
    display: block;
    text-align: center;
    color: #FCFCFC;
    text-decoration: none;
    background-color: #1A4D2E;
    font-family: "Source Serif 4", serif;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 45px;
    height: 1.5rem;
    width: 13.125rem;
    padding: 0.5rem;
    line-height: 25px;
}

/* ABOUT ME END */