<head>
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<section class="about_me_container">
    <div class="about_me_image_container">
        <img class="about_me_image" src="/static/my_photo.jpg" alt="Picture showing the author of website who is sitting in cafe."/>
    </div>
    <div class="about_me_description">
        <h2>David Bakalarczyk</h2>
        <h3>Data Analyst | Python Developer</h3>
        <p>Hello, my name is David! </p>
        <p>
           I'm a recent graduate in Computer Science and Econometrics with a passion for data analysis, 
           Python development, and data visualization. Proficient in Python, HTML, and CSS, I excel in 
           cleaning and visualizing data. Currently seeking internship opportunities to kickstart my career.
        </p>
        <p>When I'm not working</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin cursus tincidunt turpis id dapibus. 
            Nam quis lorem quis massa finibus aliquet ac vel urna. Maecenas quam metus, volutpat vitae mi eu, 
            suscipit interdum tortor. Nunc efficitur blandit varius.
         </p>
         <div class="hasztag_container">
            <p class="about_me_hasztag">#webdevelopment</p>
            <p class="about_me_hasztag">#dataanalyst</p>
            <p class="about_me_hasztag">#worklifebalance</p>
            <p class="about_me_hasztag">#student</p>
            <p class="about_me_hasztag">#traveller</p>
         </div>
         <h4>Education</h4>
         <p>AGH University of Science and Technology</p>
         <h4>Work</h4>
         <p>GXO Logistic Nieuwegein</p>
         <div class="image_container_about_me">
            <a href="https://github.com/herrdavey">
               <img src="/static/github-svg-black.png" alt="Black icon of github" />
            </a>
            <a href="https://www.linkedin.com/in/david-bakalarczyk-04285b199/">
               <img src="/static/linkedin-svg-black.png" alt="Black icon of linkedin"/>
            </a>
            <a href="mailto:david.bakalarczyk00@gmail.com">
               <img src="/static/gmail-svg-black.png" alt="Black icon of Gmail" />
            </a>
         </div>

         <div class="nav-buttons-about-me">
            <a class="button_about_me" href="{{url_for('home')}}">Home</a>
            <a class="button_about_me" href="{{url_for('say_hello')}}">Contact</a>
         </div>

    </div>

</section>