
<footer class="footer">
    <div class="tools-container">
        <a href="mailto:david.bakalarczyk00@gmail.com"><img src="./static/icon_gmail.png"/></a>
        <a href="https://www.linkedin.com/in/david-bakalarczyk-04285b199/"><img src="./static/icon_linkedin.png"/></a>
        <a href="https://github.com/herrdavey"><img src="./static/icon_github.png"/></a>
        <a href="https://discord.com/users/231675722899390464"><img src="./static/icon_discord.png"/></a>
    </div>
    <p>© 2024 David Bakalarczyk</p>

</footer>