{% include "header.html" %}

<!-- HEADER ABOVE -->
    <section class="introduction-section">
        <div> 
            <h2>David Bakalarczyk</h2>
            <h2>Junior Data Analyst</h2>
            <p>Data Cleaning. Analytics. Visualisation.</p>
            <p>Turning data chaos into strategic insights.</p>
            <a href="#porfolio-section"><button>See My Portfolio</button></a>
        </div>
        
        <div>
            <img src="./static/laptop_image.png" 
            alt="Picture of laptop with plots and charts"/> 
        </div>
    </section>

    <section class="short-description-section">
        <div>
            <img src="./static/cleaning_image.png" alt="cleaning broom image" />        
            <h3>Cleaning</h3>
            <p>
                Skilled in effectively cleaning data, including duplicate removal, 
                error correction, and missing value handling. Experienced in using Python's pandas
                library for automated data cleaning processes, enhancing data quality for analysis 
                and modeling.
            </p>
        </div>

        <div>
            <img src="./static/plot_image.png" alt="Image of analise on the plot"/> 
            <h3>Analysis</h3>
            <p>
                Proficient in conducting thorough analysis on cleaned datasets to extract 
                valuable insights. Skilled in applying statistical methods and generating 
                clear reports to communicate findings effectively to stakeholders.
            </p>
        </div>

        <div>
            <img src="./static/chart_image.png" alt="Image of visualisation on the chart"/> 
            <h3>Visualise</h3>
            <p>
                Proficient in creating clear and compelling visualizations using tools 
                like Matplotlib and Seaborn in Python to communicate complex data findings 
                effectively.
            </p>
        </div>

    </section>

    <section>
        <div id="porfolio-section" class="porfolio-section">
            <div>
                <h2>Portfolio</h2>
            </div>
            <div>
                <img src="./static/graduation_image.png" alt="Graduation image with phrase:'My Bachelor's Thesis'"/>
                <a href="{{ url_for('my_bacheldor') }}"><h3 class="first-text">My Bachelor's Thesis</h3></a>
            </div>
            <div>
                <img src="./static//related_image.png" alt="Related Analysis Projects Image"/>
                <a href="https://github.com/HerrDavey" target="_blank" rel="noopener noreferrer"><h3 class="second-text">Related Analysis Projects</h3></a>
            </div>
        </div>
    </section>

    <section class="tools-section">
        <div>
            <hr/>
        </div>

        <div>
            <h2>Tool Proficiency</h2>
        </div>

        <div class="tools-container">
            <div>
                <img src="./static/python_svg_icon.png">
                <p>Python</p>
            </div>
            <div>
                <img src="./static/pandas__svg_icon.png">
                <p>Pandas</p>
            </div>
            <div>
                <img src="./static/seaborn_svg_icon.png">
                <p>Seaborn</p>
            </div>
            <div>
                <img src="./static/numpy_svg_icon.png">
                <p>Numpy</p>
            </div>
            <div>
                <img src="./static/matplotlib_svg_icon.png">
                <p>Matplotlib</p>
            </div>

        </div>
        
        <div class="tools-container">
            <div>
                <img src="./static/r_svg_icon.png">
                <p>R</p>
            </div>

            <div>
                <img src="./static/powerbi_svg_icon.png">
                <p>PowerBI</p>
            </div>

            <div>
                <img src="./static/excel_svg_icon.png">
                <p>Excel</p>
            </div>

            <div>
                <img src="./static/tabelau_svg_icon.png">
                <p>Tabelau</p>
            </div>
        </div>


    </section>
    
    {% include 'footer.html' %}
  </body>

</html>