{% include 'header.html' %}

<section class="contact-section">
    <h1>GET IN TOUCH!</h1>
    <form method="POST" action="{{ url_for('say_hello') }}">
        {{form.csrf_token}}
        <p>
            {{form.name.label}}
            <br>
            {{form.name(class_="input_field")}}
        </p>

        <p>
            {{form.email.label}}
            <br>
            {{form.email(size=30, class_="input_field")}}
        </p>

        <p>
            {{form.message.label}}
            <br>
            {{form.message(class_="input_field_message")}}
        </p>
        
        {{form.submit(class="button_submit")}}
    </form>
</section>
