{% include 'header.html' %}

<section class="contact-section">
    <h1>GET IN TOUCH!</h1>
    <form method="POST" action="{{url_for('home')}}">
        {{form.csrf_token}}
        <p>
            {{form.name.label}}
            <br>
            {{form.name}}
        </p>

        <p>
            {{form.email.label}}
            <br>
            {{form.email(size=30)}}
        </p>

        <p>
            {{form.message.label}}
            <br>
            {{form.message}}
        </p>
        
        {{form.submit(class="button_submit")}}
    </form>
</section>
