{% include 'header.html' %}

<section>
    <h1>Contact with us!</h1>
    <form method="POST" action="{{url_for('home')}}">
        {{form.csrf_token}}

        <p>
            {{form.name.label}}
            <br>
            {{form.name}}
        </p>

        <p>
            {{form.email.label}}
            <br>
            {{form.email(size=30)}}
        </p>

        <p>
            {{form.message.label}}
            <br>
            {{form.message}}
        </p>

        {{form.submit}}
    </form>
</section>
{% include 'footer.html' %}